<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Master Data</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>Form Data Mahasiswa</h2>
      <hr/>
      <label for="nim">NIM</label>
      <input type="text" name="nim" id="nim" class="form-control" [(ngModel)]="nim">
      <label for="nama">Nama</label>
      <input type="text" name="nama" id="nama" class="form-control" [(ngModel)]="nama">
      <label for="kelas">Kelas</label>
      <input type="text" name="kelas" id="kelas" class="form-control" [(ngModel)]="kelas">
      <br>
      <button class="btn btn-primary btn-lg btn-block" (click)="tambah()">Tambah</button>
    </div>
    <div class="col">
      <h2>Data Mahasiswa</h2>
      <hr/>
      <div class="card mb-3" *ngFor="let mhs of daftarMhs">
        <div class="card-header">
          <h4> {{ mhs.nama }} </h4>
        </div>
        <div class="card-body">
          <h5 class="card-title"> {{ mhs.nim }}</h5>
          <p class="card-text"> {{ mhs.kelas }} </p>
        </div>
      </div>
    </div>
  </div>